html, body {
  position: relative;
  min-height: 100%;
}

body {
  background: white;
  background-attachment: fixed;
  overflow-x: hidden;
  padding-top: 70px;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 60px 0;
}

.navbar-transparente {
  background: transparent;
  border: none;
  box-shadow: none;
}

.jumbotron {
    background-color: #BCD2EE;
    height: 240px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.img-responsive {
  float: right;
  border: transparent;
  display: block;
  height: auto;
  max-width: 32%;
}

.hability div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hability div:nth-child(odd) {
  background-color: #CAE1FF;
}

.hability div:nth-child(even) {
  background-color: #BCD2EE;
}

footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
